.totop{
    z-index: 2;
    position: fixed;
    bottom: 2vh;
    background-color: pink;
    color: black;
    right: 5%; 
}
.totop:hover, .totop.Mui-focusVisible{
    transition: 0.3s;
    color: #397BA6;
    background-color: #DCDCDC;
}